.alfresco {
  background-image: url('../assets/alfresco.svg') !important;
  background-size: 80% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.multigest {
  background-image: url('../assets/multigest.svg') !important;
  background-size: 80% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.goodflag {
  background-image: url('../assets/goodflag.png') !important;
  background-size: 80% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}